= f.label t("question.title")
  
= f.text_field :title
%br
= f.label t("question.body")
  
= f.text_area :body
%br
= f.label t("question.tags")
  
= f.text_field :tag_list
%br

- content_for :javascripts do
  = javascript_include_tag('wmd/wmd')
