.field
  = f.label t("question.title")
  = f.text_field :title
  
.field
  = f.text_area :body , :cols => 78 , :rows => 24

.field
  = f.label t("question.tags")
  = f.text_field :tag_list

- content_for :javascripts do
  = javascript_include_tag('wmd/wmd')
