.home_question
  #div{:class => "question grid_8 alpha"}
    %h2.title= link_to(question.title , question)
    %p.tags
      = tag_links(question.tag_list)  
  #div{:class => "metadata grid_3 omega"}
    %p{:class => 'stat stat_views'}
      %span= question.total_views
      %span= t 'model.visits'
    %p{:class => 'stat stat_answers'}
      %span= question.answers_count
      %span= t 'model.answers'
    %p{:class => 'stat stat_votes'}
      %span= question.votes_average
      %span= t 'model.votes'
