.home_question
  %p.data
    =t 'model.visits'
    %b= question.total_views
  %p.data
    =t 'model.answers'
    %b= question.answers_count
  %p.data
    =t 'model.votes'
    %b= question.votes_average
  %h2.title= link_to(question.title , question)
  %p.tags
    = "Tags: "
    = tag_links(question.tag_list)  
  = render :partial => 'common/user_box' , :locals => {:user => question.user}

