.home_question
  %p.data
    =t 'model.visits'
    %b= question.total_views
  %p.data
    =t 'model.answers'
    %b= question.answers_count
  %p.data
    =t 'model.votes'
    %b= question.votes_average
  %h2.title= link_to(question.title , question)
  %p.tags
    = "Tags: "
    = tag_links(question.tag_list)  
  %p.meta
    = image_tag(question.user.avatar.url(:small))
    %small
      = "Posted by:"
      = link_to(question.user.login , question.user)
    %p= question.user.total_points

