%h1 Nueva Pregunta

= error_messages_for :question

- form_for @question do |f|

  = f.label t("question.title")
  
  = f.text_field :title
  %br
  = f.label t("question.body")
  
  = f.text_area :body
  %br
  = f.label t("question.tags")
  
  = f.text_field :tag_list
  %br
  
  = submit_tag t("question.create_button")
  
