%h1 Nueva Pregunta

= error_messages_for :question

- form_for @question do |f|

  = f.label "question.title"
  
  = f.text_field :title
  %br
  = f.label "question.body"
  
  = f.text_area :body
  %br
  = submit_tag "question.create_button"
  
