.question
  .content
    %h2.title= @question.title
    %p.body= @question.body
    %p.tags= tag_links(@question.tag_list)
  = render :partial => 'common/user_box' , :locals => {:user => @question.user}
  = render :partial => 'common/vote_box' , :locals => {:model => @question}
  %p{:id => "flag_for_question_#{@question.id}"}
    = link_to(t('action.flag') , new_question_flag_path(@question) , :rel => 'facebox')
  - if @question.user == current_user
    %p.owner_links
      = link_to(t('app.edit') , edit_question_path(@question))
#answers
  = link_to(t('action.answer'), '#' , :class => 'answer_new_form_link')
  %div{:id => 'answer_new_form_box'}
    = render :partial => 'answers/new' , :locals => {:question => @question}
  = render :partial => 'answers/answer' , :collection => @question.answers
  
- content_for :javascripts do
  = javascript_include_tag('wmd/wmd')
  = javascript_include_tag('vote/question')
  = javascript_include_tag('answer/new')
  = javascript_include_tag('answer/create')
  = javascript_include_tag('answer/select')
  = javascript_include_tag('syntax_highlighter/shCore')
  - %w(shBrushBash.js	shBrushCSharp.js 	shBrushCpp.js shBrushCss.js	shBrushDelphi.js 	shBrushDiff.js shBrushGroovy.js	shBrushJScript.js shBrushJava.js	shBrushPerl.js shBrushPhp.js shBrushPlain.js shBrushPython.js shBrushRuby.js shBrushScala.js shBrushSql.js shBrushVb.js	shBrushXml.js).each do |sh|
    = javascript_include_tag("syntax_highlighter/#{sh}")
  = javascript_tag("SyntaxHighlighter.config.clipboardSwf = 'javascripts/syntax_highlighter/clipboard.swf';SyntaxHighlighter.all();")
  
  
  
- content_for :stylesheets do
  = stylesheet_link_tag('shThemeDefault' , 'shCore')

