.field
  = form.label :login 
  = form.text_field :login
.field
  = form.label :Email
  = form.text_field :email
.field
  = form.label :password, form.object.new_record? ? nil : "Change password" 
  = form.password_field :password
.field
  = form.label :password_confirmation
  = form.password_field :password_confirmation
