= form.label :login 
%br
= form.text_field :login
%br
= form.label :Email
%br
= form.text_field :email
%br
= f.label :password, f.object.new_record? ? nil : "Change password" 
%br 
= f.password_field :password
%br
= f.label :password_confirmation
%br
= f.password_field :password_confirmation
