= form.label :login 
%br
= form.text_field :login
%br
= form.label :Email
%br
= form.text_field :email
%br
= form.label :password, form.object.new_record? ? nil : "Change password" 
%br 
= form.password_field :password
%br
= form.label :password_confirmation
%br
= form.password_field :password_confirmation
