<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </p>
  <p>
    <%= f.label :password_salt %><br />
    <%= f.text_field :password_salt %>
  </p>
  <p>
    <%= f.label :persistence_token %><br />
    <%= f.text_field :persistence_token %>
  </p>
  <p>
    <%= f.label :login_count %><br />
    <%= f.text_field :login_count %>
  </p>
  <p>
    <%= f.label :last_request_at %><br />
    <%= f.datetime_select :last_request_at %>
  </p>
  <p>
    <%= f.label :last_login_at %><br />
    <%= f.datetime_select :last_login_at %>
  </p>
  <p>
    <%= f.label :current_login_at %><br />
    <%= f.datetime_select :current_login_at %>
  </p>
  <p>
    <%= f.label :last_login_ip %><br />
    <%= f.text_field :last_login_ip %>
  </p>
  <p>
    <%= f.label :current_login_ip %><br />
    <%= f.text_field :current_login_ip %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
