%p= image_tag(@user.avatar.url(:small))

%p= "Nombre de Usuario: #{@user.login}"

- if @user == current_user
  %p= link_to("Editar" , edit_user_path(@user))

#activity
  %p= "Puntos: #{@user.total_points}"
  %p= "Preguntas: #{@user.total_questions}"
  %p= "Respuestas: #{@user.total_answers}"
  %p= "Votos: #{@user.total_votes}"

#badges
  %h1 Badges
  %ul
    - @user.badges.each do |badge|
      %li= image_tag(badge.image_url , :alt => badge.title , :title => badge.title)
  
- if @user == current_user
  .favorites
    %h1 Favorites
    %ul
    - @user.favorite_questions.each do |question|
      %li= link_to(question.title , question_path(question))
    
