%p= image_tag(@user.avatar.url)

%p= "Nombre de Usuario: #{@user.login}"

#activity
  %p= "Puntos: #{@user.total_points}"
  %p= "Preguntas: #{@user.total_questions}"
  %p= "Respuestas: #{@user.total_answers}"
  %p= "Votos: #{@user.total_votes}"
