%p= image_tag(@user.avatar.url)

%p= "Nombre de Usuario: #{@user.login}"

- if @user == current_user
  %p= link_to("Editar" , edit_user_path(@user))

#activity
  %p= "Puntos: #{@user.total_points}"
  %p= "Preguntas: #{@user.total_questions}"
  %p= "Respuestas: #{@user.total_answers}"
  %p= "Votos: #{@user.total_votes}"
