.answer
  %p= answer.body
  %p= "By: #{answer.user.login}"
  %p= link_to('Flag' , "#")
  = render :partial => 'common/vote_box' , :locals => {:model => answer}
  = link_to((answer.selected ? 'selected' : 'unselected') , select_answer_path(answer) , :id => "answer_link_#{answer.id}" , :class => "select_answer_link #{answer.selected ? 'selected' : 'unselected'}")
  = link_to('Flag' , new_answer_flag_path(@question) , :rel => 'facebox')
