.answer
  %p= answer.body
  %p= "#{t('model.by')} #{answer.user.login}"
  %p= link_to(t('action.flag'), new_answer_flag_path(@question) , :rel => 'facebox')
  = render :partial => 'common/vote_box' , :locals => {:model => answer}
  = link_to((answer.selected ? t('answer.selected') : t('answer.unselected')) , select_answer_path(answer) , :id => "answer_link_#{answer.id}" , :class => "select_answer_link #{answer.selected ? 'selected' : 'unselected'}")

