%h2 Flagged Questions

%ul#flagged_questions
  - @flags.each do |flag|
    %li.flag
      %p.question= link_to(flag.flaggeable.title, admin_question_path(flag.flaggeable), :rel => 'facebox')
      %p
        Flag Comment:
        = flag.body
      %p.user= "By: #{link_to(flag.user.login, admin_user_path(flag.user))}"
      %p.flaggable_links
        = link_to(flag.flaggeable.banned ? "Unban" : "Ban", ban_admin_question_path(flag), :method=>:put, :class => 'ban_link')
        = link_to("Borrar Reportacion", admin_question_path(flag), :method=>:delete, :confirm => 'Are you sure to remove this Flag?', :class => 'delete_flag')
