- model_name = model.class.to_s.underscore
%div= link_to(image_tag('arrow_up.png') ,send("vote_#{model_name}_path" , model , :vote => '1' , :format => :js) , :class => 'vote_link')
%div{:id => "#{model_name}_vote_avg_#{model.id}" , :class => 'total_votes'}= model.votes_average
%div= link_to(image_tag('arrow_down.png') , send("vote_#{model_name}_path" , model , :vote => '-1' , :format => :js), :class => 'vote_link')
