!!! Transitional
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8' }
    %title= h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'reset','text' , '960' , 'proto_colors' , 'proto_size' , 'questions' , 'user_box' , 'vote_box' , 'forms'
    = stylesheet_link_tag '/facebox/facebox.css'
    = javascript_include_tag :defaults
    = javascript_include_tag '/facebox/facebox.js', 'facebox_init.js'
    = yield :javascripts
    = yield :stylesheets    
  %body
    #header
      = render :partial => '/layouts/header'
    #navigation
      = render :partial => '/layouts/navigation'
    .clear
    #body
      .container_16
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" , :class => 'grid_16'
        .clear      
        #content{:class => "grid_11 alpha"}
          = yield 
        #sidebar{:class => "grid_5 omega"}
          .content_box
            %h2= t('app.tips')
          .content_box
            = render :partial => '/layouts/cloud'
          .advertisement_box
            = render :partial => '/layouts/advertisement'
    .clear    
    #footer
      .container_16
        %p#legal
          = link_to(t('app.about'), '#')
          = link_to(t('app.contact'), '#')
          = link_to(t('app.terms'), '#')
